@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");

body,
main,
div,
ul,
li,
h1,
p {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: black;
  margin: 0;
  padding: 0;
}

body {
  background-color: #edf1fd;
}

.list {
  border: 1px solid rgba(199, 189, 189, 0.899);
  box-shadow: 3px 2px 1px rgb (0 0 0 / 5%);
}

.i,
.div-content,
.title-text,
.div-content p {
  flex-direction: row;
  justify-content: flex-start;
  padding: 0.5rem;
  background-color: transparent;
}

.text-input,
.btn-clear {
  width: 100%;
  height: 1.5rem;
  box-sizing: border-box;
  border: none;
  background: none;
  color: #979799;
}

btn-clear {
  background-color: #d6d6db;
}

input:focus {
  outline: none;
}

.drag {
  background-color: greenyellow;
}

.over-element {
  background: pink;
}
