@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");

ul,
li,
div,
p,
h1,
main,
input,
i {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: Lato, sans-serif;
  font-weight: 300;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

main {
  margin: 200px auto 0 auto;
  padding: 0;
  max-width: 450px;
  background-color: #fff;
  box-shadow: 3px 3px 3px 3px #cbcbcb;
}

#title {
  margin: 0;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  flex-direction: row;
}

#title h4 {
  font-weight: 400;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input {
  width: auto;
}

.item {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
}

.item input {
  margin-right: 10px;
}

label {
  justify-self: flex-start;
}

input:checked + label {
  color: #909090;
  text-decoration: line-through;
}

hr {
  margin: 0;
  padding: 0;
  border-top: #fff;
  border-color: #f6f6f6;
}

#clear {
  width: 100%;
  text-align: center;
  height: 50px;
  font-size: 1rem;
  background-color: #f6f6f6;
  color: #909090;
}

#clear:hover {
  color: #000;
  text-decoration: underline;
}

.list-item {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.division {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
}

i {
  width: auto;
  padding-right: 1rem;
}

p {
  width: auto;
  padding-left: 10rem;
}

textarea {
  border: black 1px solid;
}

.icon-A {
  height: auto;
}
