html,
body,
div,
main,
ul,
li,
p,
i,
h1,
h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: rgb(44, 44, 44);
  margin: 0;
  padding: 0;
}

main {
  max-width: 400px;
  height: auto;
  box-shadow: 0.5rem 0.5rem;
}

ul {
  border: rgb(221, 210, 210) 1px solid;
  border-radius: 5px;
}

li {
  padding: 0.5rem;
  justify-content: inherit;
  flex-direction: row;
}

p {
  font-size: 2rem;
  width: auto;
}

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 2rem;
}

.dragover {
  background-color: rgb(117, 103, 103);
}

#clear {
  background-color: rgb(15, 15, 21);
  justify-content: center;
  color: antiquewhite;
}

div {
  flex-direction: row;
}

input {
  margin-right: 0.5rem;
}

.description {
  font-size: 1rem;
}

i {
  width: auto;
  margin-right: 1vw;
}

.completed {
  justify-content: flex-start;
}

#title-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 5vw;
}

#refresh {
  display: flex;
}
